@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <div class="slogan-text">
        <p>Намного больше,</p>
        <p>чем просто цветы!</p>
    </div>
    <p class="block-text">
        Закажите букет и наши курьеры доставят его<br/>
        по Санкт-Петербургу в любое время.
    </p>
    <div class="btn-block">
        <a class="primary-btn" asp-controller="Home" asp-action="CreateOrder">Оформить заказ</a>
    </div>
    
</div>
